<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <!-- define a custom data source -->
    <bean id="sparqlDataSource" class="com.jaspersoft.jasperserver.api.engine.jasperreports.util.CustomDataSourceDefinition">
        <!-- this prop is always the same; it registers the custom ds -->
        <property name="factory" ref="customDataSourceServiceFactory"/>
        <!-- name used in message catalog and elsewhere -->
        <property name="name" value="sparqlDataSource"/>
        <!-- class name of implementation -->
        <property name="serviceClassName" value="eionet.jasperreports.cds.SPARQLDataSourceService"/>
        <!-- instance of validator (optional)
             must implement com.jaspersoft.jasperserver.api.engine.jasperreports.util.CustomDataSourceValidator 
          -->
        <property name="validator">
            <bean class="eionet.jasperreports.cds.SPARQLDataSourceValidator"/>
        </property>
        <!-- definitions of properties you can edit -->
        <property name="propertyDefinitions">
            <list>
                <map>
                    <entry key="name" value="endpoint"/>
                </map>
            </list>
        </property>
        <property name="queryExecuterMap">
            <map>
                <entry key="sparql" value="eionet.jasperreports.cds.SPARQLQueryExecuterFactory"/>
            </map>
        </property>
    </bean>
    
    <!-- add your message catalog -->
    <bean class="com.jaspersoft.jasperserver.api.common.util.spring.GenericBeanUpdater">
        <property name="definition" ref="addMessageCatalog"/>
        <property name="value">
            <list>
                <value>WEB-INF/bundles/sparqlds</value>
            </list>
        </property>
        <property name="valueType" value="stringList"/>
    </bean>
</beans>
